@import "tailwindcss";

:root {
  --background: #f9fafb;
  --foreground: #111827;
}

.dark {
  --background: #111827;
  --foreground: #f9fafb;
}

body {
  background: var(--background);
  color: var(--foreground);
}
